/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
/* 
Buenas, perdon por no poder dedicarle mucho tiempo al css.. 
es que tengo a mi hermana de visita y tenia casi dos años 
que no la veia y se va el viernes por la noche.. 
capaz me ponga el fin de semana y lo ponga mas bonito o 
parecido al lab, que yo tenia otra idea un poco mejor para la web..
 sorry :(

* {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav-bar, #nav-items {
    text-decoration-color: whitesmoke;
} */